/* .sapMGT {
	border: none;
	border-radius: 0;
	border-color: transparent;
}
.sapMGT:active {
	border: none;
	border-radius: 0;
	border-color: transparent;
} */

.TwoByHalf .sapMGTHdrContent {
	height: 1rem;
}
html.sap-desktop:not(.sapUiNativeScrollbars) {
	scrollbar-color: initial;
}

.classFelxBox {
	position: relative;
	width: 100%;
	height: 100%;
}

.sapMNCValue.WithoutMargin {
	justify-content: center;
}

.classFlexBoxDash {
	background: linear-gradient(-45deg, #2370d5, #b2f2ff, #00879399, #12ebaa);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;

	background-position: center;
}

.classFelxBox {
	background: linear-gradient(-45deg, #2370d5, #b2f2ff, #00879399, #12ebaa);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
	height: 100vh;

	background-position: center;
}

.classHBox {
	background-color: rgba(255, 255, 255, 0.3);
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	width: 500px;
	backdrop-filter: blur(10px);
}

.emailClass input,
.pwdClass input {
	padding: 10px;
	width: 100%;
}

.emailClass input:focus,
.pwdClass input:focus {
	outline: none;
	border-color: blue;
}

.emailClass input::placeholder,
.pwdClass input::placeholder {
	color: #999;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.sapUiContentPadding {
	padding: 1rem;
	text-align: center;
}
